*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag{
    height: 200px;
    width: 50vw;
    background-color: orangered;
   
}
.white{
    height: 200px;
    width: 100%;
    background-color: white;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
     display: flex;
     justify-content: center;
     align-items: center;
    margin: 5px 0px;

}
.green{
    margin-top: 15px;
    height: 200px;
    width: 100%;
    background-color: green;
    position: relative;
    top: 200px;
}
h1{
    color: aliceblue;
    font-size: 2vw;
    font-weight: bold;
}
@media (max-width:700px){
    .circle{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top:20px;
    
    }
    h1{
        
        font-size: 20px;
       
    }
}